/**************************************************
	ALL CSS
	Make Day 2012
	R/GA 2012
	@author Pedro Duarte
**************************************************/
/**************************************************
	RESET
**************************************************/
/* line 12, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 23, sass/_reset.scss */
:focus {
  /* remember to define focus styles! */
  outline: 0; }

/* line 26, sass/_reset.scss */
body {
  background: #fff;
  line-height: 1; }

/* line 30, sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 33, sass/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

/* line 37, sass/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left; }

/* line 42, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

/* line 45, sass/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* line 48, sass/_reset.scss */
a img {
  border: 0; }

/* line 52, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Clearfix */
/* line 57, sass/_reset.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 66, sass/_reset.scss */
.clearfix {
  display: inline-block; }

/* line 70, sass/_reset.scss */
html[xmlns] .clearfix {
  display: block; }

/* line 74, sass/_reset.scss */
* html .clearfix {
  height: 1%; }

/**************************************************
	UTILS
**************************************************/
/**************************************************
	GLOBAL
**************************************************/
/* line 5, sass/_global.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: #261c02;
  background: #000; }

/* line 15, sass/_global.scss */
h1, h2, h3, strong {
  font-weight: bold; }

/* line 19, sass/_global.scss */
h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -2px; }

/* line 25, sass/_global.scss */
h2 {
  font-size: 36px;
  margin-top: 25px; }

/* line 30, sass/_global.scss */
header {
  margin-bottom: 80px; }

/* line 34, sass/_global.scss */
p {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 28px; }

/* line 40, sass/_global.scss */
.highlight {
  color: #e31936; }

/* line 44, sass/_global.scss */
.logo {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: #ccc;
  z-index: 3;
  top: 20px;
  left: 20px;
  line-height: 12px; }
  /* line 54, sass/_global.scss */
  .logo i {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    background: #ccc; }

/**************************************************
	SLIDESHOW
**************************************************/
/* line 4, sass/_slideshow.scss */
.full {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin: -320px 0 0 -512px;
  width: 1024px;
  height: 640px; }
  /* line 13, sass/_slideshow.scss */
  .full .slide {
    background: #ffffff;
    position: absolute;
    visibility: hidden; }
    /* line 18, sass/_slideshow.scss */
    .full .slide.active {
      visibility: visible; }
    /* line 22, sass/_slideshow.scss */
    .full .slide section {
      padding: 80px 120px 0;
      width: 776px;
      height: 560px;
      overflow: hidden;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    /* line 33, sass/_slideshow.scss */
    .full .slide img, .full .slide svg, .full .slide video, .full .slide object {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      height: 100%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
