/**************************************************
	ALL CSS
	Make Day 2012
	R/GA 2012
	@author Pedro Duarte
**************************************************/
/**************************************************
	RESET
**************************************************/
/* line 12, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 23, sass/_reset.scss */
:focus {
  /* remember to define focus styles! */
  outline: 0; }

/* line 26, sass/_reset.scss */
body {
  background: #fff;
  line-height: 1; }

/* line 30, sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 33, sass/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

/* line 37, sass/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left; }

/* line 42, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

/* line 45, sass/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* line 48, sass/_reset.scss */
a img {
  border: 0; }

/* line 52, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Clearfix */
/* line 57, sass/_reset.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 66, sass/_reset.scss */
.clearfix {
  display: inline-block; }

/* line 70, sass/_reset.scss */
html[xmlns] .clearfix {
  display: block; }

/* line 74, sass/_reset.scss */
* html .clearfix {
  height: 1%; }

/**************************************************
	UTILS
**************************************************/
/**************************************************
	GLOBAL
**************************************************/
/* line 5, sass/_global.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: #261c02; }

/**************************************************
	SLIDESHOW
**************************************************/
/* line 5, sass/_slideshow.scss */
.slide section {
  padding: 80px 120px 0;
  width: 784px;
  height: 560px;
  background: #FFF; }

/* Cover */
/* line 14, sass/_slideshow.scss */
.slide.cover section {
  background: #000;
  overflow: hidden; }

/* line 19, sass/_slideshow.scss */
.slide.cover section:before {
  display: none; }

/* line 26, sass/_slideshow.scss */
.slide.cover img,
.slide.cover svg,
.slide.cover video,
.slide.cover object {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  height: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

/* Full
---------------------------------------- */
/* line 42, sass/_slideshow.scss */
.full {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin: -320px 0 0 -512px;
  width: 1024px;
  height: 640px;
  background: #000; }

/* line 53, sass/_slideshow.scss */
.full .caption {
  display: none; }

/* line 57, sass/_slideshow.scss */
.full .slide {
  position: absolute;
  visibility: hidden; }

/* line 62, sass/_slideshow.scss */
.full .slide.active {
  visibility: visible; }

/* line 66, sass/_slideshow.scss */
.full .slide:after {
  position: absolute;
  bottom: 85px;
  left: 120px;
  line-height: 1; }

/* line 74, sass/_slideshow.scss */
.full .slide section {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/* line 87, sass/_slideshow.scss */
.full .slide.cover:after,
.full .slide.shout:after {
  content: ''; }
