/**************************************************
	ALL CSS
	Make Day 2012
	R/GA 2012
	@author Pedro Duarte
**************************************************/
/**************************************************
	RESET
**************************************************/
/* line 12, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* line 23, sass/_reset.scss */
:focus {
  /* remember to define focus styles! */
  outline: 0; }

/* line 26, sass/_reset.scss */
body {
  background: #fff;
  line-height: 1; }

/* line 30, sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 33, sass/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

/* line 37, sass/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left; }

/* line 42, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

/* line 45, sass/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* line 48, sass/_reset.scss */
a img {
  border: 0; }

/* line 52, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Clearfix */
/* line 57, sass/_reset.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 66, sass/_reset.scss */
.clearfix {
  display: inline-block; }

/* line 70, sass/_reset.scss */
html[xmlns] .clearfix {
  display: block; }

/* line 74, sass/_reset.scss */
* html .clearfix {
  height: 1%; }

/**************************************************
	UTILS
**************************************************/
@-webkit-keyframes slide {
  /* line 75, sass/_utils.scss */
  0% {
    visibility: visible;
    opacity: 0;
    -webkit-transform: scale(1.1); }

  /* line 81, sass/_utils.scss */
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1); } }

@-webkit-keyframes new-notification {
  /* line 90, sass/_utils.scss */
  0% {
    -webkit-transform: scale(0.5); }

  /* line 91, sass/_utils.scss */
  50% {
    -webkit-transform: scale(1.25); }

  /* line 92, sass/_utils.scss */
  100% {
    -webkit-transform: scale(1); } }

@-webkit-keyframes join {
  /* line 96, sass/_utils.scss */
  0% {
    opacity: 0; }

  /* line 97, sass/_utils.scss */
  10% {
    top: 0;
    opacity: 1; }

  /* line 98, sass/_utils.scss */
  75% {
    top: 0;
    opacity: 1; }

  /* line 99, sass/_utils.scss */
  100% {
    top: 0;
    opacity: 0; } }

/**************************************************
	GLOBAL
**************************************************/
/* line 4, sass/_global.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: #261c02;
  background: #eee; }

/* line 14, sass/_global.scss */
h1, h2, h3, strong {
  font-weight: bold; }

/* line 18, sass/_global.scss */
h1 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1px;
  margin: 0 0 30px; }

/* line 25, sass/_global.scss */
h2 {
  font-size: 36px;
  margin-top: 25px; }

/* line 31, sass/_global.scss */
p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px; }

/* line 40, sass/_global.scss */
a, a:visited, a:hover {
  color: #e31936;
  text-decoration: none; }
/* line 45, sass/_global.scss */
a:active {
  color: #261c02; }

/* line 50, sass/_global.scss */
.highlight {
  color: #e31936; }

/* line 54, sass/_global.scss */
.logo {
  font-size: 16px;
  font-weight: bold;
  color: #261c02;
  line-height: 12px;
  text-align: center;
  margin: 0 auto 30px;
  display: block; }
  /* line 63, sass/_global.scss */
  .logo i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #e31936; }
  /* line 70, sass/_global.scss */
  .logo.faded {
    color: #cccccc; }
    /* line 73, sass/_global.scss */
    .logo.faded i {
      background: #cccccc; }

/* line 80, sass/_global.scss */
.logo-cd,
.logo-cd-small {
  background: url("../img/sprite.png") 0 0 no-repeat;
  display: block;
  width: 101px;
  height: 85px;
  margin: 0 auto 15px;
  text-align: center; }

/* line 89, sass/_global.scss */
.logo-cd-small {
  background-position: 0 -100px;
  width: 61px;
  height: 51px; }

/**************************************************
	SLIDESHOW
**************************************************/
/* line 4, sass/_slideshow.scss */
.full {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin: -320px 0 0 -512px;
  width: 1024px;
  height: 640px;
  background: #000000; }
  /* line 14, sass/_slideshow.scss */
  .full h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px; }
  /* line 20, sass/_slideshow.scss */
  .full h2 {
    font-size: 36px;
    margin-top: 25px; }
  /* line 25, sass/_slideshow.scss */
  .full header {
    margin-bottom: 80px; }
  /* line 29, sass/_slideshow.scss */
  .full p {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 28px; }
  /* line 36, sass/_slideshow.scss */
  .full .logo, .full .logo-cd-small {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px; }
  /* line 43, sass/_slideshow.scss */
  .full .logo-cd-small {
    top: 81px; }
  /* line 47, sass/_slideshow.scss */
  .full .slide {
    background: #ffffff;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform-origin: 50% 50%; }
    /* line 54, sass/_slideshow.scss */
    .full .slide.active {
      visibility: visible;
      -webkit-animation: slide cubic-bezier(0.19, 1, 0.22, 1) 400ms forwards; }
    /* line 59, sass/_slideshow.scss */
    .full .slide section {
      padding: 80px 120px 0;
      width: 784px;
      height: 560px;
      overflow: hidden;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    /* line 70, sass/_slideshow.scss */
    .full .slide img, .full .slide video, .full .slide object, .full .slide iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      height: 100%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
  /* line 81, sass/_slideshow.scss */
  .full .slide-progress {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 14px;
    color: #cccccc; }

/**************************************************
	NOTIFICATIONS
**************************************************/
/* line 6, sass/_notification.scss */
.viewer #notification-tool,
.leader .question-flag {
  display: none; }

/* line 11, sass/_notification.scss */
.leader #notification-tool,
.viewer .question-flag {
  display: block; }

/* line 17, sass/_notification.scss */
.notification-tool.no-notifications .comment {
  opacity: 0.2;
  cursor: default; }
  /* line 21, sass/_notification.scss */
  .notification-tool.no-notifications .comment:hover {
    background-color: #261c02; }
    /* line 24, sass/_notification.scss */
    .notification-tool.no-notifications .comment:hover:after {
      border-top-color: #261c02; }
/* line 30, sass/_notification.scss */
.notification-tool.no-notifications .number {
  display: none; }
/* line 34, sass/_notification.scss */
.notification-tool .comment {
  position: absolute;
  top: 20px;
  right: 25px;
  display: block;
  padding: 5px 10px;
  font-weight: bold;
  background: #261c02;
  color: #ffffff;
  cursor: pointer;
  z-index: 1000; }
  /* line 46, sass/_notification.scss */
  .touch .notification-tool .comment {
    top: 20px;
    padding: 20px 30px;
    font-size: 35px; }
  /* line 52, sass/_notification.scss */
  .notification-tool .comment:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -7px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 0px solid transparent;
    border-top: 9px solid #261c02; }
    /* line 63, sass/_notification.scss */
    .touch .notification-tool .comment:after {
      display: none; }
  /* line 68, sass/_notification.scss */
  .notification-tool .comment:hover {
    background: #e31936; }
    /* line 71, sass/_notification.scss */
    .notification-tool .comment:hover:after {
      border-top-color: #e31936; }
/* line 78, sass/_notification.scss */
.notification-tool.question-flag .comment {
  top: auto;
  bottom: 28px; }
  /* line 82, sass/_notification.scss */
  .touch .notification-tool.question-flag .comment {
    bottom: 50px; }
/* line 87, sass/_notification.scss */
.notification-tool .number {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0 5px;
  background: #e31936;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0); }
  /* line 102, sass/_notification.scss */
  .notification-tool .number.new {
    -webkit-animation: new-notification 300ms cubic-bezier(0.19, 1, 0.22, 1); }
/* line 108, sass/_notification.scss */
.notification-tool .tray {
  position: absolute;
  top: 20px;
  right: 70px;
  font-size: 14px;
  z-index: 1001;
  display: none; }
  /* line 118, sass/_notification.scss */
  .notification-tool .tray li {
    margin-bottom: 5px;
    padding-left: 10px;
    height: 23px;
    line-height: 23px;
    background: #fff;
    border-bottom: 3px solid #000;
    overflow: hidden; }
  /* line 129, sass/_notification.scss */
  .notification-tool .tray a {
    margin-left: 20px;
    padding: 0 10px;
    display: block;
    float: right;
    background-color: #e31936;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold; }
    /* line 138, sass/_notification.scss */
    .notification-tool .tray a:hover {
      color: #000000; }
/* line 144, sass/_notification.scss */
.notification-tool .mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 999;
  display: none; }
/* line 160, sass/_notification.scss */
.notification-tool.open .tray, .notification-tool.open .mask {
  display: block; }
/* line 164, sass/_notification.scss */
.notification-tool.open .tray {
  -webkit-transform-origin: 100% 0;
  -webkit-animation: new-notification 300ms cubic-bezier(0.19, 1, 0.22, 1); }

/* line 173, sass/_notification.scss */
.join-notifications li {
  position: absolute;
  top: -100px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  overflow: hidden;
  height: 23px;
  line-height: 23px;
  background: #eee;
  border-bottom: 3px solid #000;
  font-size: 14px;
  text-align: center;
  z-index: 1000;
  -webkit-animation: join 3s cubic-bezier(0.19, 1, 0.22, 1) forwards; }
/* line 192, sass/_notification.scss */
.join-notifications strong {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/**************************************************
	PUBLIC PAGES
**************************************************/
/* line 4, sass/_public.scss */
.public-page {
  margin: 100px auto 0;
  width: 400px;
  padding: 20px;
  background: #ffffff;
  border-radius: 1px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.03); }
  /* line 12, sass/_public.scss */
  .public-page h1 {
    text-align: center; }

/**************************************************
	FORM
**************************************************/
/* line 4, sass/_form.scss */
input {
  font-size: 16px;
  padding: 12px 0;
  color: #cccccc; }
  /* line 9, sass/_form.scss */
  input:focus {
    color: #261c02; }
  /* line 13, sass/_form.scss */
  input[type=text] {
    width: 100%;
    border: 1px solid #cccccc;
    text-indent: 15px; }
  /* line 19, sass/_form.scss */
  input[type=file] {
    padding: 0 0 12px; }
  /* line 23, sass/_form.scss */
  input[type=submit] {
    color: #261c02; }

/**************************************************
	LIST
**************************************************/
/* line 6, sass/_list.scss */
dl dt, dl dd {
  display: block;
  margin: 0; }
/* line 11, sass/_list.scss */
dl dt {
  margin-bottom: 12px; }
/* line 15, sass/_list.scss */
dl dd {
  margin-bottom: 24px; }

/**************************************************
	MOBILE
**************************************************/
@media only screen and (max-width: 639px) {
  /* line 6, sass/_mobile.scss */
  .public-page {
    width: 70%;
    margin-top: 40px;
    padding: 10%; } }
