/**************************************************
	GLOBAL
**************************************************/
body {
	font-family: $fontStack;
	font-size: $baseFontSize+px;
	text-align: left;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	color: $primaryColor;
	background: #eee;
}

h1, h2, h3, strong {
	font-weight: bold;
}

h1 {
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -1px;
	margin: 0 0 30px;
}

h2 {
	font-size: 36px;
	margin-top: 25px;
}


p {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 18px;
}

a {
	&,
	&:visited,
	&:hover {
		color: $highlightColor;
		text-decoration: none;
	}

	&:active {
		color: $primaryColor;
	}
}

.highlight {
	color: $highlightColor;
}

.logo {
	font-size: 16px;
	font-weight: bold;
	color: $primaryColor;
	line-height: 12px;
	text-align: center;
	margin: 0 auto 30px;
	display: block;

	& i {
		display: inline-block;
		width: 12px;
		height: 12px;
		background: $highlightColor;
	}

	&.faded {
		color: $fadedColor;

		& i {
			background: $fadedColor;
		}
	}
}