/**************************************************
	SLIDESHOW
**************************************************/
.full {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin: -320px 0 0 -512px;
	width: 1024px;
	height: 640px;
	background: #000;

	& h1 {
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -2px;
	}

	& h2 {
		font-size: 36px;
		margin-top: 25px;
	}

	& header {
		margin-bottom: 80px;
	}

	& p {
		font-size: 28px;
		line-height: 38px;
		margin-bottom: 28px;
	}

	& .logo,
	& .logo-cd-small {
		position: absolute;
		z-index: 3;
		top: 20px;
		left: 20px;
	}

	& .logo-cd-small {
		top: 81px;
	}

	& .slide {
		background: #ffffff;
		position: absolute;
		visibility: hidden;

		&.active {
			visibility: visible;
			-webkit-animation: slide $cssEasing 800ms forwards;
		}

		& section {
			padding: 80px 120px 0;
			width: 784px;
			height: 560px;
			overflow: hidden;
			@include transform(scale(1));
		}

		& img,
		& video,
		& object,
		& iframe {
			position: absolute;
			top: 0;
			left: 50%;
			z-index: -1;
			height: 100%;
			width: 100%;
			@include transform(translateX(-50%));
		}
	}

	& .extra-slide {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		z-index: 10000;
		background: #000;
		color: #fff;

		display: none;
	}

	&.state-end .slideshow {
		display: none;
	}

	&.state-end #end {
		display: block;
	}
}
